@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Black+Ops+One|Luckiest+Guy|Permanent+Marker&display=swap");
$background: #343a40;
$foreground: #fafafa;
$title_fg: #76cd;
$title_shadow: 0.18rem 0.18rem $foreground;
$shadow: 0.06125rem 0.06125rem $title_fg;
$shadow1: 0.125rem 0.125rem $title_fg;
$ff: "Black Ops One", cursive, monospace;
$ff_tasks: "Permanent Marker", sans-serif;
$ff_h1: "Archivo Black", monospace;
$ff_d1: "Luckiest Guy", serif;
